<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>speed_u_mbps</th>
      <th>speed_d_mbps</th>
      <th>latency_ms</th>
      <th>packet_loss_proc</th>
      <th>bandwidth_proc</th>
      <th>response_time_ms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>19.93475</td>
      <td>42.39537</td>
      <td>21.85430</td>
      <td>0.99934</td>
      <td>0.675</td>
      <td>56.55854</td>
    </tr>
    <tr>
      <td>2</td>
      <td>17.97978</td>
      <td>49.97638</td>
      <td>47.78214</td>
      <td>1.49349</td>
      <td>0.645</td>
      <td>58.78246</td>
    </tr>
    <tr>
      <td>3</td>
      <td>10.45538</td>
      <td>86.18200</td>
      <td>37.93972</td>
      <td>1.12533</td>
      <td>0.278</td>
      <td>46.54882</td>
    </tr>
    <tr>
      <td>4</td>
      <td>31.14880</td>
      <td>37.30041</td>
      <td>31.93963</td>
      <td>0.16660</td>
      <td>0.371</td>
      <td>37.79468</td>
    </tr>
    <tr>
      <td>5</td>
      <td>24.87795</td>
      <td>87.61672</td>
      <td>12.02083</td>
      <td>0.37116</td>
      <td>0.202</td>
      <td>23.87547</td>
    </tr>
    <tr>
      <td>6</td>
      <td>43.55364</td>
      <td>13.37277</td>
      <td>12.01975</td>
      <td>0.43865</td>
      <td>0.780</td>
      <td>24.67897</td>
    </tr>
    <tr>
      <td>7</td>
      <td>3.54125</td>
      <td>78.79585</td>
      <td>7.61376</td>
      <td>0.51572</td>
      <td>0.514</td>
      <td>18.78630</td>
    </tr>
    <tr>
      <td>8</td>
      <td>32.90566</td>
      <td>85.51702</td>
      <td>43.97792</td>
      <td>1.13080</td>
      <td>0.320</td>
      <td>49.87603</td>
    </tr>
    <tr>
      <td>9</td>
      <td>38.62154</td>
      <td>22.27267</td>
      <td>32.05017</td>
      <td>1.00793</td>
      <td>0.448</td>
      <td>41.38690</td>
    </tr>
  </tbody>
</table>